body {
  background-color: #85b1d3;
  width: 300px;
}

.title {
  padding: 0 5px;
}

.color-primary {
  color: #3a4446;
}

.custom-link,
.color-secondary {
  color: #2b1d02;
}

.info-text-list {
  padding: 0 20px;
}

.info-text {
  padding: 5px;
}

.container {
  padding: 20px;;
}

.icon-container {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.social-icons {
  fill: #ffc045;
  height: 24px;
  width: 24px;
}
